APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=tool-celular
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=cc0b20d6001f7d
MAIL_PASSWORD=f1dc23b6c9b4f6
MAIL_ENCRYPTION=null
MAIL_FROM=info@tool-celular.com
